<div class="page-header">
  <h1>Recipe ingredients</h1>
</div>

<p><%= link_to 'Add a New Recipe Ingredient', new_recipe_ingredient_url, class: 'btn btn-primary' %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Ingredient</th>
      <th>Amount</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_ingredients.each do |recipe_ingredient| %>
      <tr>
        <td><%= recipe_ingredient.recipe_id %></td>
        <td><%= recipe_ingredient.ingredient_id %></td>
        <td><%= recipe_ingredient.amount %></td>
        <td><%= recipe_ingredient.notes %></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, recipe_ingredient_url(recipe_ingredient), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_recipe_ingredient_url(recipe_ingredient), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, recipe_ingredient_url(recipe_ingredient), method: 'delete', data: { confirm: "Do you really want to delete this recipe_ingredient?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

