<div class="page-header">
  <h1>Recipe Ingredient #<%= @recipe_ingredient.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Recipe</dt>
  <dd><%= @recipe_ingredient.recipe_id %></dd>

  <dt>Ingredient</dt>
  <dd><%= @recipe_ingredient.ingredient_id %></dd>

  <dt>Amount</dt>
  <dd><%= @recipe_ingredient.amount %></dd>

  <dt>Notes</dt>
  <dd><%= @recipe_ingredient.notes %></dd>

</dl>
