<div class="page-header">
  <h1>New Recipe</h1>
</div>

<%= form_tag(recipes_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :category, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :category, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :quantity, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :quantity, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :calories, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :calories, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :preparation, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :preparation, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :prep_time, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :prep_time, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Recipe", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
