<div class="page-header">
  <h1>Recipe #<%= @recipe.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @recipe.name %></dd>

  <dt>Category</dt>
  <dd><%= @recipe.category %></dd>

  <dt>Quantity</dt>
  <dd><%= @recipe.quantity %></dd>

  <dt>Calories</dt>
  <dd><%= @recipe.calories %></dd>

  <dt>Preparation</dt>
  <dd><%= @recipe.preparation %></dd>

  <dt>Prep time</dt>
  <dd><%= @recipe.prep_time %></dd>

</dl>
